img {
    display: block;
    max-width: 100%;
}
.slider-container {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.slider-container__arrows {
        
        cursor: pointer;
    }
.slider-container__arrows--left {
            width: 68px;
            height: 68px;
            background-color: rgba(40, 40, 40, .7);
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            left: 0;
            opacity: .8;
            -webkit-transition: all, .3s ease-in-out;
            transition: all, .3s ease-in-out;
        }
.slider-container__arrows--left:hover {
                background-color: rgba(40, 40, 40, .5);
                opacity: 1;
            }
.slider-container__arrows--right {
            width: 68px;
            height: 68px;
            background-color: rgba(40, 40, 40, .7);
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            right: 0;
            opacity: .8;
            -webkit-transition: all, .3s ease-in-out;
            transition: all, .3s ease-in-out;
        }
.slider-container__arrows--right:hover {
                background-color: rgba(40, 40, 40, .5);
                opacity: 1;
            }
.image-wrapper {
    
    position: relative;
    display: none;
    max-width: 100%;
    margin: 0;
    padding: 0;

}
.image-wrapper--active {
        display: block;
    }
.image-wrapper__image {
        max-width: 100%;
    }
.image-wrapper__caption {
        position: absolute;
        background-color: rgba(40, 40, 40, .5);
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        text-align: center;
        color: #FFF;
        font-size: 1.1rem;
        padding: 5px 0;
    }