.slider-container {
    position: relative;
    max-width: 992px;
    margin-top: 50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border-radius: 3px/6px;
    background: #F2F2F2;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 3px;
    
    &__arrows {
        
        cursor: pointer;
        
        &--left {
            width: 68px;
            height: 68px;
            background-color: rgba(40, 40, 40, .7);
            position: absolute;
            top: 50%;
            transform: translateY(-125%);
            left: 10px;
            opacity: .8;
            transition: all, .3s ease-in-out;
            
            &:hover {
                background-color: rgba(40, 40, 40, .5);
                opacity: 1;
            }
            
            @media screen and (max-width: 720px) {
                width: 42px;
                height: 42px;
            }
        }
        
        &--right {
            width: 68px;
            height: 68px;
            background-color: rgba(40, 40, 40, .7);
            position: absolute;
            top: 50%;
            transform: translateY(-125%);
            right: 10px;
            opacity: .8;
            transition: all, .3s ease-in-out;
            
            &:hover {
                background-color: rgba(40, 40, 40, .5);
                opacity: 1;
            }
            
            @media screen and (max-width: 720px) {
                width: 42px;
                height: 42px;
            }
        }
    }
    
    &__thumbnails {
        
        display: flex;
        
        @media screen and (max-width: 640px) {
            display: none;
        }
        
        &__image {
            max-width: 200px;
            cursor: pointer;
            opacity: .8;
            transition: opacity .3s ease-out;
            
            &:hover {
                opacity: 1;
            }
            
            &--active {
                opacity: 1;
            }
        }
    }

}
